---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 text-slate-500 font-mono text-xs uppercase tracking-widest">
    &copy; {new Date().getFullYear()} Sahil K. 
  </div>
  <div class="inline opacity-50 font-sans text-[10px] uppercase tracking-tighter">
    Cloud Portfolio | Built with Astro & Tailwind
  </div>
</footer>